html, body {
    font-family: 'Ubuntu';
    background: black;
    overflow: hidden;
}

body {
 padding: env(safe-area-inset-top) env(safe-area-inset-right) env(
      safe-area-inset-bottom) env(safe-area-inset-left);
    color: white;
}

.screen {
      height: calc(100vh - 80px);
}

a {
    color: teal;
}

.backButton{
  color:white !important;
  margin-top: 10px;
  right:0px;
  font-size: 2rem;
  z-index: 100000000;
}

.muteButton{
  position: fixed;
  color:white !important;
  top: 10px;
  margin-top: env(safe-area-inset-top);
  left:20px;
  font-size: 2rem;
}

.gameBack{
  color:white !important;
  top: -50px;
  right: 12px;
  text-decoration: none;
  position: absolute;
}

/*waving flags*/

.flag {
  width:250px;
  /* height:200px; */
  /* margin:100px 50px 50px 50px; */
  z-index: 100000000000000000000;
  min-height: 100px;
  
}

.invert{
  -webkit-filter: invert(1);
  filter: invert(1);
}

.flag-element {
  -webkit-animation:oscill 1s ease-in-out infinite alternate; 
  -moz-animation:oscill 1s ease-in-out infinite alternate; 
  -ms-animation:oscill 1s ease-in-out infinite alternate; 
  animation:oscill 1s ease-in-out infinite alternate; 
  background: url(../logo-no-background.png) no-repeat center;
  background-size:260px ;
  position:relative;
  height:50%;
  width:1px;
  display:inline-block;
  /* box-shadow:0 1px Black, 0 -1px Black; */
}
@-webkit-keyframes oscill {
  0% {
      top: 5%;
  }        
  100% {
      top: -5%;
  }
}
@-moz-keyframes oscill {
  0% {
      top: 5%;
  }        
  100% {
      top: -5%;
  }
}
@-ms-keyframes oscill {
  0% {
      top: 5%;
  }        
  100% {
      top: -5%;
  }
}
@keyframes oscill {
  0% {
      top: 5%;
  }        
  100% {
      top: -5%;
  }
}

/* Waving flags */

/*Welcome Splash Page */
#page-splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    }

.modal-header{
    background: teal;
    color: white;
}

button disabled {
  background-color: grey;
  border: none;
}

.splashButtons {
  position: relative;
  width: 80%;
  height: 12vh;
  color: white; 
  padding: 20px;
  left:10%;
  margin: 10px 0px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  background-color: #B51E6D;
  border: solid 2px #25211F;
  border-radius: 15px;
  font-size: 1.5rem;
}


.splashButtons button {
  font-size: 5em;
  text-align:center;
  padding: 20px;
  background-color: #e57373;
  border-radius: 0 100px 100px 0;
}  



.splashButtons i {
 /* padding-right: 15px; */
  font-size:2em;
}  

.splashButtons a {
  font-size:1.4em;
  text-align:center;
}  

  
h1{
  color: white; 
  text-shadow: 0 0 50px #25211F;
  text-align: center;
}

h6{
  color: white;
    text-shadow: 0 0 50px #25211F;
}

#wordCloud {
  word-wrap: break-word;
  position: fixed;
  z-index: -10000000000;
  background-color:#25211F;
  background: linear-gradient(to bottom,#25211F,black);  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  color: #79C8C1;
  line-height: 1;
}

#start-splash {
    position: relative;
    top: 20px;
    left: 5%;
    width: 90%;
    height: 100pt;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.homeButtons {
  width: 100%;
  height: 18vh;
  color: white; 
  padding: 20px;
  margin: 10px;
  display: block;
  text-align: left;
  background-color: #B51E6D;
  border: solid 2px #25211F;
  font-size: 1.3em;
}
.btn-primary:hover {
  background-color: #25211F;
  border: #B51E6D;
  color: #B51E6D;

}


.nav-pills .nav-link.active {
  background-color: #25211F;
  border-top: solid 8px #e57373;
  color: black;
  font-weight: bold;
}

/******************************/

#welcomeScreen{
  position: relative;
  top:0px;
  padding:20px; 
}

#welcomeScreen h4{
  padding:20px; 
}

.submit{
  width: 100%;
  background-color: teal;
  color: white;
  border-top: 3px solid #b2dfdb;
  padding: 10px 2px;
  position: fixed;
  bottom:0px;
  left:0px;
  height: 100px;
  z-index: 22189;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.logo {
    position: relative;
    width: 80%;
    height: 90px;
    color: white; 
    padding: 20px;
    left:10%;
    margin: 10px 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    font-size: 1.5rem;
  }

.full-width {
width: 100vw;;
}


.gameButtons button {
  font-size: 10em;
  text-align:center;
  padding: 20px;
  background-color: #e57373;
  border-radius: 0 100px 100px 0;
}  
.gameButtons {
  position: relative;
  width: 100%;
  height: 10vh;
  color: white; 
  padding: 0px;
  margin: 0px 0px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  background-color: #B51E6D;
  border: solid 2px #25211F;
  padding:8px;
  font-size: 1.3rem;
}

.gameButtons:disabled {
  background-color: grey;
}

.flagholder {
  position:fixed;
  top: 35vh;
  width: 100%;
}

.flagholder-party {
  position:absolute;
  width: 100%;
  margin-bottom: 186px;
  top: 28vh;
}

.gameImg {
  width :100vw;
  margin: 0% 0px;
  height: 258px;
  border: white solid 1px;
}

.no-padding {
  padding:  env(safe-area-inset-top) env(safe-area-inset-right) env(
    safe-area-inset-bottom) env(safe-area-inset-left);
  margin: 0px;
  width: 50%;
}
.bottom {
position: absolute;
bottom: 0px;
margin-bottom: env(safe-area-inset-bottom);
}

.top {
  position: absolute;
  top: 0px;
  margin-top: env(safe-area-inset-top);
  }

.upside {
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(-1, -1);
}

.right {
  right: 0px;
}

.left {
  left:0px;
}

.incorrect {
position: fixed;
width: 60%;
height: 20vh;
}

#countdown {
  position: fixed;
  height: 100%;
  background-color: rgba( 0,0,0, 0.5);
  color:white;
  font-size: 5rem;
  text-align: center;
}

#sScore {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  font-size: 4rem;
}

#partyText {
  font-size: 1.2rem;
}

.endSplash {
  height: 35vh;
  width: 100vw;
  background-color: #B51E6D;
  color: white;
  font-size: 2.5rem;
  z-index: 10000;
  display:none;
}

.endSplashButton{
 height: 20vh;
 position: relative;
 width: 80%;
 height: 20vh;
 padding: 20px;
 /* left:10%; */
 /* margin: 20px 0px; */
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 vertical-align: middle;
 border: solid 2px #25211F;
 font-size: 1.5rem;
 display: none;
}

.lose {
  background-color: #25211F;
}

#countdown{
  width: 100%;
  padding:20%;
  font-size: 5rem;
  position: fixed;
}

.showScore{
  background-color: rgba( 0,0,0, 0.5);
  color:white;
  text-align: center;
  width: 100%;
  padding:20%;
  font-size: 2rem;
  position: fixed;
}

.showBruce{

  color:white;
  text-align: center;
  width: 100%;
  padding:10%;
  font-size: 1.6rem;
  position: fixed;
  bottom:10%;
}

.rightAnswer {
  border: 10px solid green;
  background: darkgreen !important;
}

.wrongAnswer {
  border: 10px solid red;
  background: darkred !important;
}

@import url(https://fonts.googleapis.com/css?family=Numans);
body {
  font-family: 'Numans', sans-serif;
}
.holder {
  position:relative;
  display: flex;
  margin: 5px;
}
.checkdiv {
  position: relative;
  padding: 4px 8px;
  border-radius:40px;
  margin-bottom:4px;
  min-height:30px;
  padding-left:40px;
  display: flex;
  align-items: center;
}

.noanswer {
  appearance: none;
  position: absolute;
  left:5px;
  background-color: grey;
  width:30px;
  height:30px;
  border-radius:40px;
  margin:0px;
  outline: none; 
  transition:background-color .5s;
}

.cross {
  appearance: none;
  position: absolute;
  left:5px;
  background-color: #F44336;
  width:30px;
  height:30px;
  border-radius:40px;
  margin:0px;
  outline: none; 
  transition:background-color .5s;
}
.cross:before {
  content:'';
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) rotate(45deg);
  background-color:#ffffff;
  width:20px;
  height:5px;
  border-radius:40px;
}

.cross:after {
  content:'';
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) rotate(-45deg);
  background-color:#ffffff;
  width:20px;
  height:5px;
  border-radius:40px;
}
.tick {
   appearance: none;
  position: absolute;
  left:5px;
  width:30px;
  height:30px;
  border-radius:40px;
  margin:0px;
  outline: none; 
  transition:background-color .5s;
  background-color:#4CAF50;
}
.tick:before {
  content:'';
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) translate(-4px,3px) rotate(45deg);
  background-color:#ffffff;
  width:12px;
  height:5px;
  border-radius:40px;
}

.tick:after {
  content:'';
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) translate(3px,2px) rotate(-45deg);
  background-color:#ffffff;
  width:16px;
  height:5px;
  border-radius:40px;
}

.tickscrosses{
  position: fixed;
  top:10%;
  display: flex;
  flex-wrap: wrap;
  width:100%;
  justify-content: center;
}